@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap');

* {
    background-color: #f5f5f5;
    color: #3f2305;
    font-family: 'Handjet', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
}

h1 {
    display: flex;
    justify-content: center;
}

h1:before {
    background-color: red;
}

h2 {
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 50px;
}

.rps-pick {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    margin: auto;
}

.player-choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 50px auto;
    margin-top: 150px;
}

.score-board {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    font-size: 80px;
}

.play-exit-btn {
    display: flex;
    justify-content: center;
    gap: 25px;

}

button {
    font-size: 35px;
    cursor: pointer;
}

#play-btn {
    border-radius: 50%;
    padding: 10px;
    border-color: white;
}

#exit-btn {
    border-radius: 50%;
    padding: 10px;
    border-color: white;
}



#reset-btn {
    display: flex;
    margin: auto;
    margin-top: 20px ;
    border-radius: 50%;
    padding: 10px;
    border-color: white;
}

#reset-btn:hover {
    background-color: #3f2305;
    color: #dfd7bf;
    transition: 0.55s;
}

#reset-btn:active {
    background-color: #79430a;
    transition: 0.1s;
}

#play-btn:hover {
    background-color: #3f2305;
    color: #dfd7bf;
    transition: 0.55s;
}

#play-btn:active {
    background-color: #79430a;
    transition: 0.1s;
}

#exit-btn:hover {
    background-color: #3f2305;
    color: #dfd7bf;
    transition: 0.55s;
}

#exit-btn:active {
    background-color: #79430a;
    transition: 0.1s;
}

img {
    width: 100%;
}

.show-rock ,.show-paper, .show-scissor {
    width: 10%;
    position: absolute;
    top: 26%;
    left: 35%;
    visibility: hidden;
}

.show-rock2 ,.show-paper2, .show-scissor2 {
    width: 10%;
    position: absolute;
    top: 26%;
    right: 38%;
    visibility: hidden;
}

.green-glow {
    border: solid 4px #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow {
    border: solid 4px #fc121b;
    box-shadow: 0 0 10px #d01115;

}

.gray-glow {
    border: solid 4px #464647;
    box-shadow: 0 0 10px #25292b;
}

